torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118

openai
llama_index
langchain
ctransformers[cuda]
transformers>=4.34.0
xformers
wheel
azure-search-documents --pre
lxml
pypdf
unstructured
accelerate
streamlit
streamlit-chat 
sentence_transformers
chromadb
faiss-cpu
azure-identity
azure-search-documents
einops
ninja
