flake8
openai
langchain-core
langchain
langchain-community
langchain-chroma
langchain-huggingface
llama-cpp-python
huggingface-hub
transformers
pydantic
pypdf
unstructured
streamlit
streamlit-chat 
sentence_transformers
chromadb
# accelerate
# xformers
# faiss-cpu
# azure-identity
# azure-search-documents
# einops
# ninja

